.product-feature{
    display: flex;
}
.title{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
}
.details-div-1{
    flex: 1;
    padding: 20px;
}
.img-div{ 
    display: flex;
    justify-content: center;
    padding:60px 20px;
    flex: 1;
}
.details-div-2{
    flex: 1;
    padding: 20px 20px;
}
.big-img{
    width: 280px;
    height: 300px;
}
.details{
    display: flex;
}
.small-img{
    width: 32px !important;
    height: 32px !important;
}
.feature-text{
    padding: 20px;
}
@media only screen and (min-width:641px) and (max-width:1006px){
    .product-feature{
        display: flex;
    }
    .title{
        font-size: 30px !important;
        text-align: center;
        font-weight: 500;
    }
    .details-div-1{
        flex: 1.5;
        padding: 15px;
    }
    .img-div{ 
        padding:50px 15px;
        flex: 1;
    }
    .details-div-2{
        flex: 1.5;
        padding: 15px;
    }
    .big-img{
        width: 220px !important;
        height: 300px !important;
    }
    .details{
        display: flex;
    }
    .icon-img{
        width: 30px !important;
        height: 30px !important;
    }
    .feature-text{
        padding: 15px;
    }
    
}
@media only screen and (max-width: 415px){
    .product-feature{
        flex-direction: column;
    }
    .title{
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }
    .details-div-1{
       order: 1;
       padding: 0px 15px 15px 15px;
    }
    .img-div{ 
        padding:50px 15px;
        flex: 1;
    }
    .details-div-2{
        flex: 1;
        padding: 15px 15px 0px 15px;
    }
    .big-img{
        width: 220px !important;
        height: 300px !important;
    }
    
}