.img-div{ 
    display: flex;
    justify-content: center;
    padding: 50px 50px;
}
.big-img{
    width: 280px;
    height: 300px;
}
.details{
    display: flex;
}
.icon-img{
    width: 32px !important;
    height: 32px !important;
}